<h1>会社一覧</h1>

<%= form_with url: partners_path, method: :get, local: true do |form| %>

  <p>コスト感</p>
  <%= search_form_for @search do |f| %>
    <% Cost.all.each do |cost| %>
      <%= f.check_box :costs_id_eq_any, { multiple: true, checked: cost[:checked], disabled: cost[:disabled], include_hidden: false }, cost[:id] %>
      <%= cost.breakdown %>
    <% end %>
    <%= f.submit "検索" %>
  <% end %>


  <p>提供サービス</p>
    <div class="form-group">
      <%= form.select("service_content_id", ServiceContent.pluck(:division, :id), { include_blank: true }) %>
      <%= form.submit 'Search', division: nil %>
    <div>
  

  <P>AIカテゴリ</p>
    <div class="form-group">
      <%= form.select("ai_category_id", AiCategory.pluck(:genre, :id), { include_blank: true }) %>
      <%= form.submit 'Search', genre: nil %>
    <div>
  <P>
  </p>
<% end %>

<table>
  <tr>
    <%# <th><%= link_to '会社名', sort_name: true %></th> %>
    <th>会社名</th>
    <%# <th>住所</th> %>
    <%# <th>会社URL</th> %>
    <%# <th>会社設立年</th> %>
    <%# <th>サービス概要</th> %>
    <th>クラウド/オンプレミス</th>
    <th>提供サービス</th>
    <th>AIカテゴリ</th>
    <th>コスト感</th>
    <th>技術者数</th>
    <th>製品情報</th>
    <th>導入事例</th>
    <th>詳細</th>
    <th>編集</th>
    <th>削除</th>
  </tr>

<% @partners.each do |partner| %>
  <tr>
    <td><%= link_to partner.name, partner_path(partner.id) %></td>
    <%# <td><%= partner.address %></td> %>
    <%# <td><%= text_url_to_link(h(partner.url)).html_safe %></td> %>
    <%# <td><%= partner.established %></td> %>
    <%# <td><%= partner.service %></td> %>
    <td><%= partner.provision %></td>
    <%# 提供サービス %>
    <td>
      <% partner.service_contents.each do |service_content| %>
        <p>
          <%= service_content.division %>
        </p>
      <% end %>
    </td>
    <%# AIカテゴリ %>
    <td>
      <% partner.ai_categories.each do |ai_category| %>
        <p>
          <%= ai_category.genre %>
        </p>
      <% end %>
    </td>
    <%# コスト感 %>
    <td>
      <% partner.costs.each do |cost| %>
        <p>
          <%= cost.breakdown %>
        </p>
      <% end %>
    </td>
    <td><%= partner.engineer %></td>
    <td><%= partner.product %></td>
    <td><%= partner.case %></td> 
    <td><%= link_to '会社詳細画面', partner_path(partner.id) %></td>
    <td><%= link_to "会社情報を編集する", edit_partner_path(partner.id) %></td>
    <td><%= link_to '会社情報を削除する', partner_path(partner.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %>
  </tr>
<% end %>
</table>
<%= link_to '新しく会社を登録する', new_partner_path %>