<h1>会社詳細画面</h1>
<p>会社名: <%= @partner.name %></p>
<p>住所: <%= @partner.address %></p>
<p>会社URL: <%=raw Rinku.auto_link(h(@partner.url)) %></p>
<p>会社設立年: <%= @partner.established %></p>
<p>サービス概要: <%= @partner.service %></p>
<p>クラウド/オンプレミス: <%= @partner.provision %></p>
  <p>提供サービス:<% @partner.service_contents.pluck(:division).each do |service_content| %>
    <li>
      <%= service_content %>
    </li>
  <% end %>
  </p>
  <p>AIカテゴリー:<% @partner.ai_categories.pluck(:genre).each do |ai_category| %>
    <li>
      <%= ai_category %>
    </li>
  <% end %>
  </p>
  <p>コスト感:<% @partner.costs.pluck(:breakdown).each do |cost| %>
    <li>
      <%= cost %>
    </li>
  <% end %>
  </p>
<p>技術者数: <%= @partner.engineer %></p>
<p>製品名: <%= @partner.product %></p>
<p>導入事例: <%= @partner.case %></p>

<h1>製品情報</h1>
<% @partner.product_infos.each do |product_info| %>
<%# <%binding.pry %> %>
  <P>製品名<h2><%= product_info.name %></h2></P>
  <p>製品説明: <%= product_info.content %></p>
  <p>製品画像: <%= product_info.image %></p>
<% end %>

<h1>製品情報</h1>
<% @partner.case_studies.each do |case_study| %>
<%# <%binding.pry %> %>
  <P>製品名<h2><%= case_study.name %></h2></P>
  <p>製品説明: <%= case_study.content %></p>
  <p>製品画像: <%= case_study.image %></p>
<% end %>

<%=link_to "会社一覧に戻る",partners_path%>
<%= link_to "編集", edit_partner_path(@partner) %>