<h1>会社詳細画面</h1>
<p>会社名: <%= @partner.name %></p>
<p>住所: <%= @partner.address %></p>
<p>会社URL: <%=raw Rinku.auto_link(h(@partner.url)) %></p>
<p>会社設立年: <%= @partner.established %></p>
<p>サービス概要: <%= @partner.service %></p>
<p>クラウド/オンプレミス: <%= @partner.provision %></p>
  <p>提供サービス:<% @partner.service_contents.pluck(:division).each do |service_content| %>
    <li>
      <%= service_content %>
    </li>
  <% end %>
  </p>
  <p>AIカテゴリー:<% @partner.ai_categories.pluck(:genre).each do |ai_category| %>
    <li>
      <%= ai_category %>
    </li>
  <% end %>
  </p>
  <p>コスト感:<% @partner.costs.pluck(:breakdown).each do |cost| %>
    <li>
      <%= cost %>
    </li>
  <% end %>
  </p>
<p>技術者数: <%= @partner.engineer %></p>

<h1>製品情報</h1>
<% @partner.product_infos.each do |product_info| %>
  <p>製品名:<%= product_info.name %></p>
  <p>URL:<%= raw Rinku.auto_link(h(product_info.content)) %></p>
  <%= image_tag assets_path(product_info.image.url, height: '300px') if product_info.image.present? %>
<% end %>

<h1>導入事例</h1>
<% @partner.case_studies.each do |case_study| %>
  <p><%= case_study.name %></p>
  <p>URL:<%=raw Rinku.auto_link(h(case_study.content)) %></p>
  <%= image_tag assets_path(case_study.image.url, height: '300px') if case_study.image.present? %>
<% end %>
<div>
<%=link_to "会社一覧に戻る",partners_path%>
<%= link_to "編集", edit_partner_path(@partner) %>
</div>