<h2 >画像処理</h2>
<div>
  <%= form_tag documents_path, method: :get, class: "form-group" do %>
    <p>文字認識    <%= submit_tag "試す", class: "btn btn-primary" %></p>
  <% end %>
</div>
<div>
  <%= form_tag documents_path, method: :get, class: "form-group" do %>
    <p>画像分類    <%= link_to "試す", "#", class: "btn btn-primary", onclick: "alert('この機能は準備中です。')" %></p>
  <% end %>
</div>
<div>
  <%= form_tag documents_path, method: :get, class: "form-group" do %>
    <p>物体検出    <%= link_to "試す", "#", class: "btn btn-primary", onclick: "alert('この機能は準備中です。')" %></p>
  <% end %>
</div>
<div>
  <%= form_tag documents_path, method: :get, class: "form-group" do %>
    <p>GANの異常検知    <%= link_to "試す", "#", class: "btn btn-primary", onclick: "alert('この機能は準備中です。')" %></p>
  <% end %>
</div>

<h2 >自然言語処理</h2>
<div>
  <%= form_tag documents_path, method: :get, class: "form-group" do %>
    <p>質問応答（１問１答）   <%= link_to "試す", "#", class: "btn btn-primary", onclick: "alert('この機能は準備中です。')" %></p>
  <% end %>
</div>
<div>
  <%= form_tag documents_path, method: :get, class: "form-group" do %>
    <p>質問応答（１問多答）    <%= link_to "試す", "#", class: "btn btn-primary", onclick: "alert('この機能は準備中です。')" %></p>
  <% end %>
</div>
<div>
  <%= form_tag documents_path, method: :get, class: "form-group" do %>
    <p>文章分類    <%= link_to "試す", "#", class: "btn btn-primary", onclick: "alert('この機能は準備中です。')" %></p>
  <% end %>
</div>

<h2 >音声認識処理</h2>
<div>
  <%= form_tag documents_path, method: :get, class: "form-group" do %>
    <p>異音検知    <%= link_to "試す", "#", class: "btn btn-primary", onclick: "alert('この機能は準備中です。')" %></p>
  <% end %>
</div>

<h2 >時系列解析</h2>
<div>
  <%= form_tag documents_path, method: :get, class: "form-group" do %>
    <p>時系列異音検知    <%= link_to "試す", "#", class: "btn btn-primary", onclick: "alert('この機能は準備中です。')" %></p>
  <% end %>
</div>
<div>
  <%= form_tag documents_path, method: :get, class: "form-group" do %>
    <p>時系列クラスタリング    <%= link_to "試す", "#", class: "btn btn-primary", onclick: "alert('この機能は準備中です。')" %></p>
  <% end %>
</div>
<div>
  <%= form_tag documents_path, method: :get, class: "form-group" do %>
    <p>需要予測    <%= link_to "試す", "#", class: "btn btn-primary", onclick: "alert('この機能は準備中です。')" %></p>
  <% end %>
</div>

