<!DOCTYPE html>
<html>
  <head>
    <title>マイページ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h2>マイページ</h2>
      <div class="row">
        <div class="col-md-6">
          <p>名前 : <%= @user.name %></p>
          <p>メールアドレス : <%= @user.email %></p>
          <p><%= link_to "編集", edit_user_registration_path, class: "btn btn-outline-info" if current_user == @user %></p>
        </div>

        <div class="col-md-6">
          <%= form_tag partners_path, method: :get, class: "form-group" do %>
            <p>AI会社を探す</p>
            <%= submit_tag "探す", class: "btn btn-outline-info" %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= form_tag users_path, method: :get, class: "form-group" do %>
            <p>AIを試す</p>
            <%= submit_tag "試す", class: "btn btn-outline-info" %>
          <% end %>
        </div>

        <div class="col-md-6">
          <%= form_tag documents_path, method: :get, class: "form-group" do %>
            <p>AIの結果一覧</p>
            <%= submit_tag "一覧", class: "btn btn-outline-info" %>
          <% end %>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>